<div class="container-fluid">
    <p font-size="200%">Getting bills for state : {{state.name}}</p>
    <p> Please be patient!</p>
    <div>
        <select ng-model="state" ng-change="myChange()" ng-options="state.name for state in states">
        </select>
    </div>
    <div>
        <p style="font-size:150%">After selecting a state, please click on the Bill Id button for full bill text below:</p>
        <p style="font-size:130%" ng-if="billdetail"><a href={{billdetail.searchresult[0].text_url}}>{{billdetail.searchresult[0].state}}    {{billdetail.searchresult[0].bill_number}}</a><br />

            <!--<button ng-click="gettext(billdetail.searchresult[0].bill_id)">get text</button> --></p>
        <!--<p>{{billtext}}</p> -->


    </div>
    <table class="table table-striped table-hover">
        <tr>
            <th style="font-size:200%">Bill Id</th>
            <th style=" padding-left:2em; font-size:200%;">Title</th>
            <th style=" font-size:200%">Date</th>
        </tr>
        <tr ng-repeat="report in reports">
            <td width="100"><button  ng-click=(getdetail(report.bill_id,report.session))>{{report.bill_id}}</button></td>
            <td style="padding-left:5em;">{{report.title}}</td>
            <td width="150">{{report.created_at}}</td>
        </tr>
    </table>
</div>