<div class="container-fluid">
    <p font-size="200%">Getting bills for state : {{state.name}}</p>
    <p> Please be patient!</p>
    <div>
        <select ng-model="state" ng-change="myChange()" ng-options="state.name for state in states">
        </select>
    </div>
    <table>
        <tr>
            <th style="font-size:200%">Bill Id</th>
            <th style=" padding-left:2em; font-size:200%;">Title</th>
            <th style=" font-size:200%">Created At</th>
        </tr>
        <tr ng-repeat="report in reports">
            <td height="100" width="200">{{report.bill_id}}</td>
            <td style="padding-left:5em;">{{report.title}}</td>
            <td>{{report.created_at}}</td>
        </tr>
    </table>
</div>